@import url('http://fonts.googleapis.com/css?family=Gentium+Basic|Open+Sans:700italic,800');
/* -------------------------------- 

Variables

-------------------------------- */
/* PT Sans */
/* Merriweather */
/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #101524;
}
a {
  color: #B31DCB;
  text-decoration: none;
  font-size:15px;
  font-style:italic;
}
img {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}
/* FIXED MENU */
#nav-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 12.5px;
  font-size: 25px;
  color: white;
  background: #333333;
  cursor: pointer;
  z-index: 3;
}
nav {
  position: fixed;
  width: 180px;
  height: 70px;
  top: -75px;
  left: 0;
  background: #333333;
  box-shadow: 1px 0 3px 2px #333333;
  font-size: 0.7em;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav.active {
  left: 10px;
  padding: 12.5px;
  top: 0;
  z-index: 2;
}
nav ul {
  display: flex;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}
nav ul li {
  margin: 0 25px;
  padding: 3px 0;
  opacity: 0;
  cursor: pointer;
}
nav ul li:nth-child(1) {
  color: #ffffff;
  transition: opacity 0.2s 0.1s ease-in;
}
/* NOT IN USE
nav ul li:nth-child(2) {
  color: @project-main-text-color;
  transition: opacity 0.2s 0.2s ease-in;
}
nav ul li:nth-child(3) {
  color: @project-main-text-color;
  transition: opacity 0.2s 0.3s ease-in;
}
nav ul li:nth-child(4) {
  color: @project-main-text-color;
  transition: opacity 0.2s 0.4s ease-in;
}
*/
nav ul li.active {
  opacity: 1;
}
nav ul li.active:hover {
  color: white;
}
/* FIXED MENU END */
.text-title {
  margin-top: 1.2727em;
  margin-bottom: 1.8727em;
  font-size: 1.5em;
  line-height: 1.2727em;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}
.text-container {
  font-family: 'Gentium Basic';
  text-align: justify;
  margin-top: .5em;
  font-size: 0.925em;
  line-height: 1.7500em;
  color: rgba(0, 0, 0, 0.75);
  position: relative;
  margin-bottom: .1em;
  padding: 1.2em;
  width: 100%;
  display: table;
}
/* IMAGE */
.image-container {
  border-radius: 5px;
  margin-top: 50px;
  display: table;
  margin: auto;
}
.image-container img {
  opacity: 0.75;
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: -3px 5px 17px 0px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: -3px 5px 17px 0px rgba(50, 50, 50, 0.77);
  box-shadow: -3px 5px 17px 0px rgba(50, 50, 50, 0.77);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.image-container img:hover {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
figcaption {
  font-family: 'Gentium Basic';
  text-align: justify;
  margin-top: .5em;
  font-size: 0.925em;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 2em;
  display: table;
}
/* IMAGE END */
/* PINLINE STYLE FOR THE BODY OF TEXT */
h3.pinline {
  text-align: center;
  display: block;
  overflow: hidden;
  font-size: 1em;
  font-weight: 100;
  margin: 20px 0;
  font-family: 'Open Sans';
  font-weight: 700;
  text-transform: uppercase;
}
h3.pinline span {
  position: relative;
  display: inline-block;
  line-height: 1;
}
h3.pinline span::before,
h3.pinline span::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: #000;
  width: 50%;
}
h3.pinline span::before {
  left: 100%;
  margin-left: 20px;
}
h3.pinline span::after {
  right: 100%;
  margin-right: 20px;
}
/* PINLINE STYLE FOR THE BODY OF TEXT END */
/* -------------------------------- 

Main Components 

-------------------------------- */
.projects-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.projects-container::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.projects-container .cd-single-project {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  /* on mobile -  move items outside the viewport */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.projects-container .cd-single-project::after {
  /* background image */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20vh;
  width: 100%;
  opacity: 0.75;
  background-image: url('/static/projects/images/project_portfolio/img-1-large.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.5s, height 0.4s;
  -moz-transition: opacity 0.5s, height 0.4s;
  transition: opacity 0.5s, height 0.4s;
}
.projects-container .cd-single-project::before {
  /* never visible - this is used in jQuery to detect if the background image has been loaded  */
  content: '../../images/project_portfolio/img-1-small.jpg';
  display: none;
}
.projects-container .cd-single-project:nth-of-type(2) {
  top: 20vh;
}
.projects-container .cd-single-project:nth-of-type(2)::after {
  background-image: url('/static/projects/images/project_portfolio/img-2-small.jpg');
}
.projects-container .cd-single-project:nth-of-type(2)::before {
  content: '../../images/project_portfolio/img-2-small.jpg';
}
.projects-container .cd-single-project:nth-of-type(3) {
  top: 40vh;
}
.projects-container .cd-single-project:nth-of-type(3)::after {
  background-image: url('/static/projects/images/project_portfolio/img-3-small.jpg');
}
.projects-container .cd-single-project:nth-of-type(3)::before {
  content: '../../images/project_portfolio/img-3-small.jpg';
}
.projects-container .cd-single-project:nth-of-type(4) {
  top: 60vh;
}
.projects-container .cd-single-project:nth-of-type(4)::after {
  background-image: url('/static/projects/images/project_portfolio/img-4-small.jpg');
}
.projects-container .cd-single-project:nth-of-type(4)::before {
  content: '../../images/project_portfolio/img-4-small.jpg';
}
.projects-container .cd-single-project:nth-of-type(5) {
  top: 80vh;
}
.projects-container .cd-single-project:nth-of-type(5)::after {
  background-image: url('/static/projects/images/project_portfolio/img-5-small.jpg');
}
.projects-container .cd-single-project:nth-of-type(5)::before {
  content: '../../images/project_portfolio/img-5-small.jpg';
}
.projects-container .cd-single-project.is-loaded {
  /* move items in the viewport when background images have been loaded */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.projects-container .cd-single-project.is-full-width {
  /* selected item */
  top: 0;
  height: auto;
  z-index: 1;
  cursor: auto;
  -webkit-transition: z-index 0s 0s, top 0.4s 0s;
  -moz-transition: z-index 0s 0s, top 0.4s 0s;
  transition: z-index 0s 0s, top 0.4s 0s;
}
.projects-container .cd-single-project.is-full-width::after {
  height: 100vh;
}
@media only screen and (min-width: 1024px) {
  .projects-container::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  /* PROJECT CONTAINER POSITIONING */
  .projects-container .cd-single-project {
    width: 20vw;
    height: 100%;
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: width 0s;
    -moz-transition: width 0s;
    transition: width 0s;
  }
  .projects-container .cd-single-project:first-of-type::before {
    content: '../../images/project_portfolio/img-1-large.jpg';
  }
  .projects-container .cd-single-project:first-of-type::after {
    background-image: url('/static/projects/images/project_portfolio/img-1-large.jpg');
  }
  .projects-container .cd-single-project:nth-of-type(2) {
    top: 0;
    left: 20vw;
  }
  .projects-container .cd-single-project:nth-of-type(2)::before {
    content: '../../images/project_portfolio/img-2-large.jpg';
  }
  .projects-container .cd-single-project:nth-of-type(2)::after {
    background-image: url('/static/projects/images/project_portfolio/img-2-large.jpg');
  }
  .projects-container .cd-single-project:nth-of-type(3) {
    top: 0;
    left: 40vw;
  }
  .projects-container .cd-single-project:nth-of-type(3)::before {
    content: '../../images/project_portfolio/img-3-large.jpg';
  }
  .projects-container .cd-single-project:nth-of-type(3)::after {
    background-image: url('/static/projects/images/project_portfolio/img-3-large.jpg');
  }
  .projects-container .cd-single-project:nth-of-type(4) {
    top: 0;
    left: 60vw;
  }
  .projects-container .cd-single-project:nth-of-type(4)::before {
    content: '../../images/project_portfolio/img-4-large.jpg';
  }
  .projects-container .cd-single-project:nth-of-type(4)::after {
    background-image: url('/static/projects/images/project_portfolio/img-4-large.jpg');
  }
  .projects-container .cd-single-project:nth-of-type(5) {
    top: 0;
    left: 80vw;
  }
  .projects-container .cd-single-project:nth-of-type(5)::before {
    content: '../../images/project_portfolio/img-5-large.jpg';
  }
  .projects-container .cd-single-project:nth-of-type(5)::after {
    background-image: url('/static/projects/images/project_portfolio/img-5-large.jpg');
  }
  /* PROJECT CONTAINER POSITIONING END */
  .projects-container .cd-single-project::after {
    height: 100vh;
    width: 100%;
    opacity: 0;
  }
  .projects-container .cd-single-project.is-loaded {
    /* show items when background images have been loaded */
    opacity: 1;
  }
  .projects-container .cd-single-project.is-loaded::after {
    opacity: 1;
  }
  .projects-container .cd-single-project.is-full-width {
    /* selected item */
    left: 0vw;
    width: 100vw;
    -webkit-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    -moz-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
  }
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-single-project::after {
    background-attachment: fixed;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
    -moz-transition: -moz-transform 0.8s, opacity 0.5s;
    transition: transform 0.8s, opacity 0.5s;
  }
  .projects-container .cd-single-project.is-loaded::after {
    opacity: 0;
  }
  .no-touch .projects-container .cd-single-project:hover::after,
  .projects-container .cd-single-project.is-full-width.is-loaded::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-title {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 12.5vh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.is-full-width .cd-title {
  top: 50vh;
  background-color: rgba(0, 0, 0, 0.55);
  -webkit-transition: opacity 0s, top 0.4s;
  -moz-transition: opacity 0s, top 0.4s;
  transition: opacity 0s, top 0.4s;
}
.cd-title > * {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-title h2 {
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1.5;
  font-weight: 700;
}
.cd-title p {
  font-size: 1.4rem;
  font-family: 'Gentium Basic', serif;
  line-height: 1.2;
  padding: .4em 2em;
  display: none;
  opacity: .6;
}
@media only screen and (min-width: 1024px) {
  .cd-title {
    top: 50vh;
    width: 20vw;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(0px);
    -moz-transform: translateY(-50%) translateX(0px);
    -ms-transform: translateY(-50%) translateX(0px);
    -o-transform: translateY(-50%) translateX(0px);
    transform: translateY(-50%) translateX(0px);
  }
  .is-loaded .cd-title {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 1s, opacity 0.6s, left 0s;
    -moz-transition: -moz-transform 1s, opacity 0.6s, left 0s;
    transition: transform 1.0s, opacity 0.6s, left 0.0s;
  }
  .is-loaded.is-full-width .cd-title {
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    -webkit-transition: -webkit-transform 1s, opacity 0s, left 0s;
    -moz-transition: -moz-transform 1s, opacity 0s, left 0s;
    transition: transform 1.0s, opacity 0s, left 0.0s;
  }
  .cd-title p {
    display: block;
  }
}
.cd-project-info {
  clear: both;
  visibility: hidden;
  opacity: 0;
  /*margin: auto;*/
  margin-top: 100vh;
  /*width: 75%;*/
  padding: 4em 0;
  cursor: auto;
  background-color: #efefef;
  color: #3f538e;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s;
}
.is-full-width .cd-project-info {
  visibility: visible;
  opacity: 1;
}
.cd-project-info p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
}
@media only screen and (min-width: 1024px) {
  .cd-project-info {
    position: relative;
    z-index: 1;
  }
}
.projects-container .cd-close,
.projects-container .cd-scroll {
  display: block;
  z-index: 1;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
  -moz-transition: -moz-transform 1s 0s, visibility 0s 1s;
  transition: transform 1s 0s, visibility 0s 1s;
}
.projects-container .cd-close {
  position: fixed;
  top: 30px;
  right: 5%;
  background: url('/static/projects/images/project_portfolio/cd-icon-close-mobile.svg') no-repeat center center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-close {
    background-image: url('/static/projects/images/project_portfolio/cd-icon-close-desktop.svg');
  }
}
.projects-container .cd-scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url('/static/projects/images/project_portfolio/cd-icon-arrow-mobile.svg') no-repeat center center;
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-scroll {
    background-image: url('/static/projects/images/project_portfolio/cd-icon-arrow-desktop.svg');
  }
}
.project-is-open .cd-close,
.project-is-open .cd-scroll {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
}
.project-is-open .cd-scroll {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-animation: cd-translate 1.2s 0.4s;
  -moz-animation: cd-translate 1.2s 0.4s;
  animation: cd-translate 1.2s 0.4s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}
.no-touch .project-is-open .cd-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.no-touch .project-is-open .cd-scroll:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -moz-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  -o-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
}
@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}
@-moz-keyframes cd-translate {
  0% {
    -moz-transform: translateX(-50%) scale(1);
  }
  50% {
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}
@keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    -o-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
