@import url("http://fonts.googleapis.com/css?family=Quicksand:400,300");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300");
/* MIXINS */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Quicksand', 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  background: radial-gradient(ellipse at bottom left, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25), rgba(42, 60, 87, 0.4)), linear-gradient(135deg, #670d10, #092756); }

/* An expandable side bar */
/* source: http://codepen.io/Venerons/pen/jbBvu */
*,
*:before,
*:after {
  margin: 0;
  padding: 0; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.5rem;
  height: 100%;
  background: #2680f3;
  transition: all 300ms ease;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 0px 10px #333; }

nav:hover {
  width: 14rem; }

nav * {
  user-select: none; }

nav > ul {
  display: table;
  width: 14rem; }

nav > ul > li {
  display: table-row;
  background: #0c66da;
  cursor: pointer; }

nav > ul > li:hover {
  background: #569cf6; }

nav > ul > li:active {
  background: #87b9f8; }

nav > ul > li > div {
  height: 3.5rem;
  line-height: 3.5rem;
  display: table-cell; }

nav > ul > li > div:nth-child(1) {
  width: 3.5rem;
  text-align: center; }

nav > ul > li > div:nth-child(2) {
  width: 10.5rem;
  text-align: left;
  padding-left: 0.7rem; }

/* tabbed menu */
/* source : http://codepen.io/thestevekelzer/pen/yGFsJ */
.tabbed-menu {
  top: 34px;
  font-size: 15px;
  width: 75%;
  min-width: 850px;
  margin: 0px auto;
  position: relative; }

.tabbed-menu * {
  border-radius: 0px;
  color: #444;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.tabbed-menu .tabs {
  position: relative;
  top: 4px;
  text-align: center;
  line-height: 5px;
  min-width: 850px; }

.tabbed-menu .tabs li {
  padding: 20px;
  background: #CCC;
  display: inline-block;
  color: #000;
  width: 33.33333%;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-size: 1em; }

.tabs li.selected {
  background: #FFF;
  color: #7E1801; }

.tabs li:hover {
  cursor: pointer;
  background: #0066FF;
  color: #FFF; }

.tabs li.selected:hover {
  color: #0066FF;
  background: #FFF; }

.tabbed-menu .page {
  text-align: justify; }

.tabbed-menu .content {
  padding: 70px;
  overflow: hidden;
  min-height: 400px;
  text-align: justify; }

.tabbed-menu .content p {
  padding: 0;
  marging: 0;
  text-align: left;
  line-height: 1.4em;
  text-align: justify; }

.tabbed-menu .contentWrapper {
  width: 100%;
  min-width: 850px;
  position: relative;
  background: #FFF; }

.desktop {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 4.5rem;
  transition: all 500ms ease;
  overflow: auto; }

.desktop h1 {
  margin: 1rem 0;
  font-weight: 300; }

.desktop h1:nth-child(1) {
  margin-top: 0; }

.desktop p {
  font-weight: 300;
  text-align: justify;
  margin: 0 0 1rem 0; }

#one {
  background: radial-gradient(ellipse at bottom left, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25), rgba(42, 60, 87, 0.4)), linear-gradient(135deg, #670d10, #092756); }

#two {
  background: linear-gradient(135deg, #723362, #9d223c); }

#three {
  background: linear-gradient(135deg, #2c539e, #63967d); }

#four {
  background: linear-gradient(135deg, rgba(244, 226, 156, 0) 0%, #3b293a 100%), linear-gradient(to right, #f4e29c 0%, #826057 100%); }

#five {
  background: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%); }

.clear {
  clear: both; }

/*# sourceMappingURL=style.css.map */
