<!doctype html>

{% load static %}
{% load compress %}

<html>
	<head>
		<title>D3 Playground</title>
		<link type="text/css" rel="stylesheet" charset="utf-8" href="{% static 'projects/css/common/reset.css' %}" />

		<link type="text/css" rel="stylesheet" charset="utf-8" href="{% static 'projects/css/project_d3_playground/style.css' %}" />
	</head>

	<body>

		<nav>
			<ul>
				{% for project in projects %}
					<li id="link-{{ forloop.counter }}" class="desktop-link">
						<div>{{ forloop.counter }}</div>
						<div>{{ project.title }}</div>
					</li>
				{% endfor %}
			</ul>
		</nav>

		{% for project in projects %}
			<div id="desktop-{{ forloop.counter }}" class="desktop">
				<div class="tabbed-menu">

			        <ul class="tabs">
			            <li id="tab1" class="selected">The Graph</li><li id="tab2">Notes</li>
			        </ul>

			   		<div class="contentWrapper">
						<div class="content">
							<div class="page tab1" style="display:block;">
								<h1>{{ project.subTitle }}</h1>
								<div id="vis-{{ forloop.counter }}"></div>
						    </div>

							<div class="page tab2" style="display:none;">
								<h1>{{ project.title }}</h1>
								<h2>{{ project.subTitle }}</h2>
								<p> {{ project.description.summary }}</p>
								<ul>
									{% for note in project.description.notes %}
									<li class="notes">{{ note }}</li></br>
									{% endfor %}
								</ul>
						    </div>

					    </div>
					</div>
				</div>
			</div> <!-- DESKTOP END -->
		{% endfor %}

	</body>
	<script type="text/javascript" src='{% static "projects/js/lib/jquery/jquery-2.1.3.min.js" %}'></script>
	<script type="text/javascript" src='{% static "projects/js/lib/d3/d3.min.js" %}'></script>
	<script type="text/javascript" src='{% static "projects/js/project_d3_playground/main.js" %}'></script>

</html>