	body {
		font-family: 'Roboto', sans-serif;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		text-rendering:optimizeLegibility;
		background-color: #D5D5D5; /* #E9EAED */
		color: #666;
		line-height:1.6em;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 900;
		color:#666;
	}

	blockquote {
		border:none;
		font-size:inherit;
		margin:0;
	}

	cite {
		font-style:none;
		font-size:inherit;
	}

	strong {
		background-color:rgb(238, 242, 85);
	}

	#logo-main {
	  left: 20%;
	  position: relative;
	  padding-top: 10%;
	  padding-bottom: 5%;
	  width: 60%;
	}

	a.post-link {
		text-decoration:inherit !important;
		color:inherit;
	}

	.featured-title {
		text-align: center;
		padding-top: 50px;	
	}

	.featured-subtitle {
		text-align: center;
		padding-top: 50px;
	}

	.sidebar {
		width: 100%;
		background-color: black;
		color: white;
		position: absolute;
		height: 800px;
	}

	.content-container-style {
		background-color: #fff;
		border-bottom: 2px solid rgba(0, 0, 0, 0.25);
	}

	.post-main-page {
		position:relative;
		margin-bottom: 32px;
		height: 200px;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}

	.post-link .post-main-page:hover {
	  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
	  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
	  transform: scale(1.01);
	}

	.post-content {
		padding-top: 10px;
		padding-left: 35px;
		padding-right: 35px;
		padding-bottom: 37px;
	}

	.post-bottom {
		background-color: rgb(244, 244, 244);
		height: 25px;
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	.posts-container {
		padding-top:40px;
	}

	/* QUOTES */

	.post-main-page.quote {
		background-color: #000;
		color:#ccc;
		padding-top:30px;
	}

	.post-main-page.quote blockquote {
		border-left:none;
		font-size:1.33em;
	}

	.post-main-page.quote blockquote + p {
		text-align:right;
	}

	.post-main-page.passage {
		padding-top:20px;
	}

	.post-main-page.passage blockquote{
		border-left: 5px solid #eee;
		padding-top:20px;
	}

	.post-main-page.passage blockquote + p {
		text-align:right;
	}

	/* QUOTES END */

	/* PAGINATE */

	.paginate {
	    _overflow: hidden;
	    _position: relative;
	    text-align: right;
	}

	.paginate span a {
	    transition: all 100ms ease-in-out 0s;
	    background-color: #F7F7F8;
	    border-radius: 2px;
	    color: #69696E;
	    display: inline-block;
	    font: 12px/30px Arial, sans-serif;
	    height: 30px;
	    margin: 0 3px;
	    overflow: hidden;
	    position: relative;
	    text-align: center;
	    text-decoration: none;
	    width: 30px;
	}

	.paginate span a:hover {
	    background-color: #FF8C00;
	    color: #FFFFFF;
	}

	.paginate span.active a {
	    background-color: #FF8C00;
	    color: #FFFFFF;
	}

	.paginate span.active a:hover {
	    color: #FFFFFF;
	}

	/* PAGINATE END */


	/* POST SINGLE */

	.post-single-page {
		margin-top:40px;
		margin-bottom:80px;
	}

	.post-single-body {
		background-color: white;
		padding-left: 100px;
		padding-right: 100px;
		padding-top: 40px;
		padding-bottom: 60px;
	}

	.post-single-body h1 {
		text-align:center;
		margin-bottom:20px;
	}

	.post-single-body h1 {
		display:none;
	}

	.post-single-body blockquote + p {
		padding-top: 30px;
		text-align: right;
	}

	.post-single-body cite {
		font-weight: bold;
	}

	.post-single-top {
		height:200px;
		background-color:black;
		text-align:center;
	}

	.post-single-title {
		text-transform: uppercase;
		color:#fff;
		position: relative;
  		top: -150px;
  		pointer-events;none;
	}

	.post-single-title-styled {
		top: -60px;
		font-size: 400%;
	}
	}

	/* POST SINGLE END */