{% extends "blog/base.html" %}

{% load staticfiles %}

{% block title %} {{ block.super }} | Main {% endblock %}

{% block body %}
<section>
	<div class="body-container">
		<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="sidebar">
					<div class="logo-container">
						<img id="logo-main" src="{% static 'blog/images/logo.png' %}" alt="">
					</div>
					
					<ul>
						{{ page_data.object_list.categories }}
						{% for item in page_data.object_list.categories %}
						<li>
							{{ item }}
						</li>
						{% endfor %}
					</ul>
					
				</div>
			</div>
			<div class="col-sm-9">
				<div class="posts-container">
					<div class="row">
						{% for item in page_data.object_list %}
						<div class="col-sm-10 col-sm-offset-1">
							<a class="post-link" href="/blog/{{ item.name }}">
							{% if item.category == 'quote' %}
							<div class="post-main-page content-container-style quote" shorten-child-p-text>
							{% elif item.category == 'passage' %}
							<div class="post-main-page content-container-style passage" shorten-child-p-text>
							{% else %}
							<div class="post-main-page content-container-style" shorten-child-p-text>
							{% endif %}
								<div class="post-content">
									{% autoescape off %}
									{{ item.content }}
									{% endautoescape %}
								</div>
								{% if item.category == 'opinion' %}
									<div class="post-bottom"></div>
								{% endif %}
							</div>
							</a>
						</div>
						{% endfor %}
						
						<div class="col-sm-10 col-sm-offset-1">
							<div class="paginate">
						        <span class="prev">
						        	{% if page_data.has_previous %}
						        	<a class="content-container-style" href="/blog/pages/{{ contacts.previous_page_number }}">&lt;</a>
						        	{% endif %}
						        </span>
						        <span class="next">
						        	{% if page_data.has_next %}
						        	<a class="content-container-style" href="/blog/pages/{{ page_data.next_page_number }}">&gt;</a>
							        {% endif %}
						        </span>
							    <!--
							    <span class="step-links">
							        {% if page_data.has_previous %}
							            <a href="?page={{ contacts.previous_page_number }}">previous</a>
							        {% endif %}

							        <span class="current">
							            Page {{ page_data.number }} of {{ page_data.paginator.num_pages }}.
							        </span>

							        {% if page_data.has_next %}
							            <a href="../../pages/{{ page_data.next_page_number }}">next</a>
							        {% endif %}
							    </span>
								-->
							</div>
						</div>


					</div>
				</div>

				

			</div>
		</div>
	</div>
</section>
{% endblock %}