{% extends "blog/base.html" %}

{% load staticfiles %}

{% block title %} {{ block.super }} | Main {% endblock %}

{% block body %}
<section>
	<div class="body-container">
		<div class="row">
			<div class="col-sm-3 pull-xs-12">
				<div class="sidebar">
					<div class="logo-container">
						<a href="/blog">
							<img id="logo-main" src="{% static 'blog/images/logo.png' %}" alt="">
						</a>
					</div>
					
					<div class="categories hidden-xs">
						{% if categories.opinion %}
						<a href="/blog/categories/opinion">
							<h5 class="category-header">Opinion</h5>
						</a>
						<ul>
							{% for item in categories.opinion %}
							<li>
								<a href="/blog/{{ item.name }}"><p>{{ item.title }}</p></a>
							</li>
							{% endfor %}
						</ul>
						{% endif %}

						{% if categories.passage %}
						<a href="/blog/categories/passage">
							<h5 class="category-header">Passage</h5>
						</a>
						{% endif %}

						{% if categories.quote %}
						<a href="/blog/categories/quote">
							<h5 class="category-header">Quote</h5>
						</a>
						{% endif %}
					</div>
					
				</div>
			</div>

			<div class="col-sm-9">
				<div class="posts-container">
					<div class="row">
						{% for item in page_data.object_list %}
						<div class="col-sm-10 col-sm-offset-1 ng-cloak">
							<a class="post-link" href="/blog/{{ item.name }}">
							{% if item.category == 'quote' %}
							<div class="post-main-page content-container-style quote" shorten-child-p-text>
							{% elif item.category == 'passage' %}
							<div class="post-main-page content-container-style passage" shorten-child-p-text>
							{% else %}
							<div class="post-main-page content-container-style" shorten-child-p-text >
							{% endif %}
								{% if item.header_image %}
								<div class="post-image">
									<img src="{{ item.header_image }}" alt="">
								</div>
								{% endif %}
								<div class="post-content">
									{% autoescape off %}
									{{ item.content }}
									{% endautoescape %}
								</div>
								{% if item.category == 'opinion' %}
									<div class="post-bottom" style="display:none;">
										{{ item.date | date:"F j, Y"}}
									</div>
								{% endif %}
							</div>
							</a>
						</div>
						{% endfor %}
						
						<div class="col-sm-10 col-sm-offset-1">
							<div class="paginate">
						        <span class="prev">
						        	{% if page_data.has_previous %}
						        	<a class="content-container-style" href="{{ url }}{{ page_data.previous_page_number }}">&lt;</a>
						        	{% endif %}
						        </span>
						        <span class="next">
						        	{% if page_data.has_next %}
						        	<a class="content-container-style" href="{{ url }}{{ page_data.next_page_number }}">&gt;</a>
							        {% endif %}
						        </span>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}