<!doctype html>

{% load static %}
{% load compress %}

<html>
	<head>
		<title>D3 Initial</title>
		{% compress css %}
		<link type="text/less" rel="stylesheet" charset="utf-8" href="{% static 'projects/css/d3_initial.css' %}" />
		{% endcompress %}
	</head>
	<body>
		<!-- non semantic targets -->
		<!-- layout from : http://codepen.io/bonkalol/pen/tcfCi -->
		<span class="targets" id="home"></span>
		<span class="targets" id="about"></span>
		<span class="targets" id="skills"></span>
		<span class="targets" id="portfolio"></span>
		<!-- targets -->
		<div class="wrapper">
			<nav class="nav">
			<ul class="nav-list">
				<li class="nav-item"><a href="#home" class="nav-link">Home</a>
				<li class="nav-item"><a href="#about" class="nav-link">About</a>
				<li class="nav-item"><a href="#skills" class="nav-link">Skills</a>
				<li class="nav-item"><a href="#portfolio" class="nav-link">Portfolio</a>
			</ul>
			</nav>
			<div class="holder">
			    <div class="layout">
					<section class="page page-home">
						<h2 class="page-title">Single page navigation with css3</h2>
					</section>
					<section class="page page-about">
						<h2 class="page-title">Using :target and non semantic targets</h2>
					</section>
					<section class="page page-skills">
						<h2 class="page-title">It's also Responsive</h2>
					</section>
			    	<section class="page page-portfolio">
			    		<h2 class="page-title">Thx for watching, hope you enjoy it ^_^</h2>
				    </section>
			    </div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src='{% static "projects/js/lib/d3/d3.min.js" %}'></script>
	<script type="text/javascript" src='{% static "projects/js/d3_initial.js" %}'></script>
</html>