<!doctype html>

{% load static %}

<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Merriweather:400italic,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href='{% static "projects/css/project_portfolio/css/reset.css" %}'> <!-- CSS reset -->
		<link rel="stylesheet" href='{% static "projects/css/project_portfolio/css/style.css" %}'>
		<script src='{% static "projects/js/lib/modernizr/modernizr.js" %}'></script> <!-- Modernizr -->
		<title>Portfolio</title>
	</head>
	<body>


		<span id="nav-icon">☰</span>
		<nav>
		  <ul>
		    <li><a href="http://www.enginarslan.com">VFX Works</a></li>
		  </ul>
		</nav>

		<div class="projects-container">
		<ul id="projects-list">
		{% for project in projects %}
			<li class="cd-single-project">
				<div class="cd-title">
					<h2>{{ project.title }}</h2>
					<p class="cd-sub-title">{{ project.subTitle }}</p>
				</div>

				<div class="cd-project-info">
					<p>
						<h2 class="text-title">{{ project.subTitle }}</h2>
						<h3 class="pinline"><span>INTRODUCTION / MOTIVATION</span></h3>
						<p class="text-container">{{ project.description.motivation }}</p>

						<h3 class="pinline"><span>TECHNIQUE</span></h3>
						<p class="text-container">{{ project.description.technique }}</p>

						{% if project.description.furtherDiscussion %}
							<h3 class="pinline"><span>FURTHER DISCUSSION</span></h3>
							<p class="text-container">{{ project.description.furtherDiscussion }}</p>
						{% endif %}

						{% if project.link %}
							<h3 class="pinline"><span>LINKS</span></h3>
							<p class="text-container"><a href="{{ project.link }}"> {{ project.link }} </a></p>
						{% endif %}

						{% if project.examples %}
							<h3 class="pinline"><span>EXAMPLES</span></h3>
							{% for example in project.examples %}
							<figure class="image-container">
								<img src="{{ example.src }}"></img>
								<figcaption>{{ example.figcaption }}</figcaption>
							</figure>
							{% endfor %}
						{% endif %}
					</p>
				</div>
			</li>
		{% endfor %}

		</ul>
		<a href="#0" class="cd-close">Close</a>
		<a href="#0" class="cd-scroll">Scroll</a>
	</div> <!-- .project-container -->
	<script type="text/javascript" src='{% static "projects/js/lib/jquery/jquery-2.1.3.min.js" %}'></script>
	<script type="text/javascript" src='{% static "projects/js/project_portfolio/project_portfolio.js" %}'></script>
	</body>
</html>