<!doctype html>

{% load static %}

<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Merriweather:400italic,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href='{% static "projects/css/project_portfolio/reset.css" %}'> <!-- CSS reset -->
		<link rel="stylesheet" href='{% static "projects/css/project_portfolio/style.css" %}'> <!-- Resource style -->
		<script src='{% static "projects/js/lib/modernizr/modernizr.js" %}'></script> <!-- Modernizr -->
		<title>Portfolio</title>
	</head>
	<body>
		<div class="projects-container">
		<ul id="projects-list">
		{% for project in projects %}
			<li class="cd-single-project">
				<div class="cd-title">
					<h2>{{ project.title }}</h2>
					<p class="cd-sub-title">{{ project.subTitle }}</p>
				</div>

				<div class="cd-project-info">
					<p>
						{{ project.projectInfo }}
					</p>
				</div>
			</li>
		{% endfor %}
		</ul>
		<a href="#0" class="cd-close">Close</a>
		<a href="#0" class="cd-scroll">Scroll</a>
	</div> <!-- .project-container -->
	<script type="text/javascript" src='{% static "projects/js/lib/jquery/jquery-2.1.3.min.js" %}'></script>
	<script type="text/javascript" src='{% static "projects/js/project_portfolio/project_portfolio.js" %}'></script>
	</body>
</html>