$primary-color: #38C5B9;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}


/* MAIN STYLE */

  * {
    box-sizing:border-box;
  }

  svg {
    transform: scale(1.033) translateX(0) translateY(-308px);
  }

  svg .node {
    font-size: 0.8em;
    font-weight: 900;
  }

  nav {
    margin-bottom:0 !important;
    padding:10px;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    line-height: 1.7em;
    color: #545454;
  }

  h1 {
    font-weight:600;
    padding:0.25em 0 0.5em 0;
  }

  h2 {
    font-weight:400;
    padding:0.25em 0 0.5em 0;
  }

  h3 {
    font-weight:400;
    padding:0.25em 0 0.5em 0;
  }

  p {
    padding-bottom:0.75em;
  }

  img {
    display:block;
    width:70%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    border:35px solid transparent;
  }

  sup {
    font-size:30%;
    letter-spacing: -0.05em;
    top:-1.5em;
  }

  .badge {
    vertical-align: middle;
    margin-bottom: 2px;
    box-shadow: 1px 4px 1px lightgrey;
  }

  .obj-info {
    margin-top:20px;
    padding-left:40px;
    padding-right:40px;
  }

  .image-bg {
    width:60%;
  }

  .topic-explanation {
    padding:0.5em 0;
  }

  .topic-explanation p{
    font-size:0.8em;
  }

  .parallaxParent {
    height: 700px;
    overflow: hidden;
  }
  .parallaxParent > * {
    padding-top: 150px;
    height: 200%;
    position: relative;
    top: -100%;
  }
  section#main-body {
    background-color: rgb(232, 232, 232);
    //box-shadow: 0px 0px 50px 1px rgb(181, 181, 181);
    z-index: 20;
  }
  .topic-item {
    background:gray;
    text-align: center;
    min-height:240px;
    border-bottom:0px solid rgba(1,1,1,0.2);
    -moz-transition: border-bottom .20s;
    -o-transition: border-bottom .20s;
    -webkit-transition: border-bottom .20s;
    transition: border-bottom .20s;

  }

  .topic-item p {
    font-size:0.85em;
  }

  .topic-item h2 {
    font-weight: 600;
  }

  .topic-item:hover {
    border-bottom:10px solid rgba(1,1,1,0.2);
  }

  .topic-item > .row {
    width:100%;
  }

  .introduction-area {
    overflow:auto;
    position: absolute;
    margin-top: -670px;
    margin-left: 30px;
    padding: 30px 50px 50px 50px;
    width: 50%;
    max-height:700px;
    background-color: rgba(250, 250, 250, 0.6);
    border-radius:5px;
    /* box-shadow: 4px 5px 20px 1px gray; */
  }

  .topic-chart {
    opacity:0;
  }

  .topic-chart p {
    font-size: 2em;
    border: 5px solid currentColor;
    width: 99px;
    margin: 40px auto;
    padding: 22px 7px;
    border-radius: 15px;
    font-weight: 600;
    opacity: 0.9;
  }


  .introduction-area > p {
    margin: 0 0 10px;
  }

  #introduction-main > h1 {
    padding-bottom:0px;
    color:#F000BF;
    font-size:3em;
    line-height:0.9em;
  }

  .footer-content {
    height: 200px;
    margin: auto;
    padding: 10px;
    display: block;
    background-color: #343434;
  }

  .footer-content p {
    text-align: center;
    color: rgb(250, 82, 248);
    padding-top: 50px
  }

  .footer-content a {
    text-decoration: none;
    color: rgb(250, 82, 248);
  }

  /* SVG */

 
  svg circle:hover {
    stroke:#fff;
    stroke-width:5px;
  }

  .node {
    fill:rgb(211,211,211);
  }

  .node--root {
    fill:rgb(244,244,244);
  }

  .node:hover {
    stroke: #DADADA;
    stroke-width: 3px; }
    
  .label {
    text-anchor: middle;
    pointer-events: none; }

  .node--leaf {
    pointer-events: none;
  }


  /* SVG END */

  /* TOPIC SECTION STYLES */

  .obj-info h2 {
    padding:5px 20px 7px 17px;
    border-radius:5px
  }

  .obj-info p {
    padding-left:7px;
  }

  /* TOPIC SECTION STYLES END */

/* MAIN STYLE END */

/* NAV ITEM EFFECT */

.topic-index {
  margin-top:20px;
  margin-right: -30px
}

.topic-index li {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.topic-index li:last-child {
  border-bottom: 0px;
}

.topic-index ul {
  background-color: rgb(244, 244, 244);
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 15px 25px;
  box-shadow: 5px 5px 0px rgb(226, 226, 226);
  list-style: none;
  border-radius:5px;
}

.topic-index ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #909090;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
}
.topic-index ul li a,
.topic-index ul li a:after,
.topic-index ul li a:before {
  transition: all .5s;
}
.topic-index ul li a:hover {
  color: #555;
}

.topic-index.shift ul li a {
  position:relative;
  z-index: 1;
}
.topic-index.shift ul li a:hover {
  color:#fff;
  //color: #91640F;
}
.topic-index.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  //background: #F1C40F;
  background:#848484;
  visibility: none;
  opacity: 0;
  z-index: -1;
  border-radius:5px;
}
.topic-index.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/* NAV ITEM EFFECT END */