$primary-color: #38C5B9;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

/* MAIN STYLE */


  * {
    box-sizing:border-box;
  }

  nav {
    margin-bottom:0 !important;
    padding:10px;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    line-height: 1.7em;
    color: #545454;
  }

  h1 {
    font-weight:600;
    padding:0.25em 0 0.5em 0;
  }

  h2 {
    font-weight:400;
    padding:0.25em 0 0.5em 0;
  }

  h3 {
    font-weight:400;
    padding:0.25em 0 0.5em 0;
  }

  p {
    padding-bottom:0.75em;
  }

  img {
    display:block;
    width:70%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    border:50px solid transparent;
  }

  .badge {
    vertical-align: middle;
    margin-bottom: 2px;
    box-shadow: 1px 4px 1px lightgrey;
  }

  .obj-info {
    margin-top:20px;
    padding-left:40px;
    padding-right:40px;
  }

  .topic-index {
    margin-top:20px;
    margin-right: -30px
  }

  .topic-index li {
    border-bottom: 2px solid rgb(229, 229, 229);
  }

  .topic-index ul {
    background-color: rgb(244, 244, 244);
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 15px 25px;
    box-shadow: 5px 5px 0px rgb(226, 226, 226);
    list-style: none;
  }

  .image-bg {
    width:60%;
  }

  .topic-explanation {
    padding:0.5em 0;
  }

  .topic-explanation p{
    font-size:0.8em;
  }

  .parallaxParent {
    height: 700px;
    overflow: hidden;
  }
  .parallaxParent > * {
    padding-top: 150px;
    height: 200%;
    position: relative;
    top: -100%;
  }
  section#subject-images {
    background-color: rgb(232, 232, 232);
    box-shadow: 0px 0px 50px 1px rgb(181, 181, 181);
    z-index: 20;
  }
  .topic-item {
    background:gray;
    text-align: center;
  }

  .topic-item:hover {
    border-bottom:10px solid rgba(1,1,1,0.2);
  }

  .topic-item > .row {
    width:100%;
  }


  #introduction {
    position: absolute;
    margin-top: -670px;
    margin-left: 30px;
    padding: 30px 50px 50px 50px;
    width: 40%;
    background-color: rgba(250, 250, 250, 0.6);
    border-radius:5px;
    /* box-shadow: 4px 5px 20px 1px gray; */
  }

  #introduction > p {
    margin: 0 0 10px;
    _background: #fff
  }

  .node:hover {
    fill:red;
  }

  svg circle:hover {
    stroke:lightgray;
    stroke-width:5px;
  }

  /* TOPIC SECTION STYLES */

  .obj-info h2 {
    padding:5px 20px 7px 17px;
    border-radius:5px
  }

  .obj-info p {
    padding-left:7px;
  }

  /* TOPIC SECTION STYLES END */

/* MAIN STYLE END */

/*
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}
*/







.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
  @include easeOut;
  
  &__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    @include easeOut;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  // transform burger into 'x'
  &--close {
    transform: rotate(180deg);
    
    .burger__patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  
  &--active {
    visibility: visible;
  }
  
  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  
  &__list {
    margin: 0;
    padding: 0;
    background: mix(black, $primary-color, 20);
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  
  &__brand {
    background: $primary-color;
    @include easeOut;
    transform: translate3d(0, 100%, 0);
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  
  &__item {
    transform: translate3d(500px, 0, 0);
    @include easeOut;
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  
  &__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    @include easeOut;
    
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: white;
      transform: translateX(-50%);
      @include easeOut;
    }
    
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
  
  // add delay to each menu item
  @for $x from 1 through 6 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * .1s;
    }
  }
}

// responsive tablet view
@include tablet {
 ul.menu__list,
 div.menu__brand {
  float: none;
  width: 100%;
  min-height: 0;

   &--active {
     transform: translate3d(0, 0, 0);
   }
 }

 .menu__list {
   height: 75vh;
   transform: translate3d(-100%, 0, 0);
 }

 .menu__link {
   font-size: 24px;
 }

 .menu__brand {
   height: 25vh;
   transform: translate3d(100%, 0, 0);

   .logo {
     width: 90px;
     height: 90px;
   }
 }
}

// make the demo look nice, not required for your own use.
.logo {
  width: 200px;
  height: 200px;
  background: lighten(black, 10);
  border-radius: 50%;
}

main {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 8vw;
  
  h1 > a {
    color: white;
    text-decoration: none;
    font-size: 48px;
    font-weight: 300;
  }
}

.support {
  position: fixed;
  bottom: 24px;
  color: rgba(black, 0.6);
}